/* Joey added custom styles */
.new-observation {
  max-width: 80%;
  margin: 0 auto;
}
.getstarted {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  overflow: hidden;
}
.intervalNumberLabel, .secondsLabel {
  text-align: center;
}
.intervalNumberLabel h4, .secondsLabel h4 {
  margin: 0;
}
.digits {
  font-size: 40px;
}
.waitingToStart {
  color: #e4e4e4;
  font-style: italic;
}
.observationItem {
  display: flex;
  width: 80%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  margin: 0 auto 5px auto;
}
.observationItem .ui-checkbox {
  width: 45px;
}
.listview-wrapper {
  position: relative;
  max-width: 100%;
}
.listview {
  position: absolute;
  width: 100%;
  z-index: 100;
}
#savedSessionItem {
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-bottom: 1px solid #ccc;
}
#savedSessionItem .sessionInfo {
  flex: 1;
  padding: 20px;
}
.copyrightinfo {
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
}
.settings-form, .notes-form, .modify-student {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}
.ui-field-contain {
  border: none;
}
